/*-----------------------------------------------------------------------*/

/*Introduccion*/

.contenedor-intro-nav {
    background-color: transparent;
    width: 100%; 
    height: 100vh;
}

.seccion-intro{ /*acomodar el contenedor de esta parte*/
    width: 80%; 
    height: auto;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    border-radius: 30px;
    backdrop-filter: blur(20px); /* Aplicar desenfoque */
    border: rgba(255, 255, 255, 02); /* Borde transparente */
    padding: 30px;
}

.user-container{ /*Imagen / Se puede eliminar con la foto agregada*/
    background: #1e1f22;
    height: 400px;
    width: 400px;
    /*border: 1px solid rgba(255, 255, 255); /* Borde semitransparente */
    border-radius: 50%;
    /*box-shadow: 0 0 15px rgba(128, 128, 128); /* Sombra */
    display: flex; 
    justify-content: center;
    align-items: center;
}

.user-img{
    background: transparent;
    height: 380px;
    width: 370px;
    border-radius: 50%;
}

/*-----------------------------------------------------------------------*/

@media (max-width: 780px) { 
    .user-container {
        width: 90%; 
        height: auto;
        margin: 0 auto; 
    }

    .user-img{
        height: 95%;
        width: 95%; 
    }

    .seccion-intro{
        height: 500px;
    }

}