body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita scroll lateral */
    /*background-color: #1F2122;*//*Gris espacial*/
    background-color: black;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Detrás del contenido */
}

h1, h3, h4, h5, h6 {
    color: #C8A165;
}

h2{
    color: white;
}

p {
    margin: 1em 0;
    font-size: 1rem;
    color: white;
}

button{
    height: 50px;
    background-color: #C8A165;               
    color: white;          
    border: none;  
    padding: 10px 20px;    
    border-radius: 5px; 
    cursor: pointer;  
} 

.row.seccion {
    width: 100%; 
    height: auto;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #101010;
    margin-left: 0.5px; 
    margin-top: 50px;
    border-radius: 30px;
    padding-top: 20px;
}

.row.seccion-P .row{ /*espacio entre filas*/
    margin-bottom: 30px;
}

.contacto-icon{
    height: 50px  ;
    width: 50px ;
    margin-left: 10px;
    background-color: #1e1f22;
    border: 3px solid #C8A165;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contacto-texto{
    height: auto;
    width: auto;
    margin-top: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1f22;
    border: 3px solid #C8A165;
}

.bi{ /*Color icono*/
    color: white;
}

button:hover{
    background-color: #876d46;
}

/*-----------------------------------------------------------------------*/
/*Navbar*/

.menu {
    width: 100%;
    margin-top: 20px;
    background-color: #101010;
    padding: 10px 20px;
    padding-top: 25px;
    border-radius: 50px;
}

.menu-toggle {
    display: none; /* Por defecto oculto en dispositivos grandes */
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    margin: 10px;
}

.menu-items {
    list-style: none;
    display: flex;
    gap: 20px; /* Espaciado entre los elementos */
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu-item {
    text-decoration: none;
    color: #C8A165;
    font-size: 18px;
    position: relative;
    padding: 5px 0;
}

.menu-item::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #C8A165;
    transition: 0.3s ease;
}

.menu-item:hover::after{
    width: 100%;
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
    .menu ul {
        flex-direction: column;
        gap: 10px;
    }
}

/*-----------------------------------------------------------------------*/
/*Proyectos*/

.flex-padre-P{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0px;
}

.carta{ /*Cartas de proyectos*/
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1e1f22;
    margin: 20px 0px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.192); /* Sombra */
}

.carta-imagen-P{ /*Imagen carta*/
    width: 400px;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

.carta-descripcion-P{ /*Descripcion carta*/
    width: 375px;
    min-height: 150px;
    height: auto;
    margin: 20px 0
}

.carta-tecnologia-P{ /*Tecnologias carta*/
    width: 375px;
    height: auto;
    margin-bottom: 20px;
}

.carta-boton-P{ /*Boton carta (contenedor)*/
    width: 375px;
    height: auto;
    margin: 0 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carta-boton-P button{ /*Boton carta*/
    width: 375px;
    height: auto;
    border-radius: 15px;
}

.flex-padre-tecnologias-P{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0px;
}

/*-----------------------------------------------------------------------*/
/*Footer*/

footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-top: 2px solid #C8A165 /*linea*/;
    margin-top: 50px;
}

footer .contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

footer h3 {
    color: #C8A165;
    margin-bottom: 10px;
}

footer nav{
    margin-bottom: 20px;
}

footer nav a {
    color: #C8A165;
    margin: 0 10px;
    text-decoration: none;
}

.flex-padre-F{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

footer .contact-info p {
    margin: 5px 0;
}

footer .contact-info span {
    color: #C8A165;
}

footer .copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}
/*-----------------------------------------------------------------------*/

/* Ajustes para pantallas pequeñas */
@media (max-width: 576px) {     
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .menu{ /*Acomodar el icono*/
        position: relative;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 15px ;   
    }

    .menu-toggle {
        display: block; /* Mostrar el menú hamburguesa */
        width: 50px;
        height: 50px;
        background-color: #101010;               
        color: white;          
        margin: 0;
        padding: 4px 10px 10px 10px;  
        cursor: pointer;  
    }

    .menu-items{ 
        list-style: none;
        padding: 0;
        flex-direction: column;
        background-color: #101010;
        position: absolute;
        top: 90px; /* Ajustar según la altura del menú toggle */
        left: 0;
        width: 100%;
        z-index: 10;
        overflow: hidden;
        border-radius: 50px;
    }

    .menu-items li {
        text-align: center;
        padding: 15px 0;
    }

    .menu-items.hide {
        display: none; /* Mostrar menú cuando esté activo */
    }

    .menu-items.show {
        display: block; /* Mostrar menú cuando esté activo */
    }

    button { /*Ajustar botones*/
        width: 100%; 
        font-size: 14px;
    }
    
    .carta{
        width: 100%;
        height: auto;
    }

    .carta-imagen-P{
        width: 100%;
        height: auto;
    }

    .carta-descripcion-P h3, h4{
        font-size: 25px;
        width: 100%;
        height: auto;
    }

    .carta-descripcion-P p{
        font-size: 17px;
        width: 100%;
        height: auto;
    }

    .carta-tecnologia-P{
        width: 100%;
        height: auto;
    }

    .carta-boton-P{
        width: 100%;
        height: auto;
        padding: 0 10px;
    }

    .carta-boton-P a{ /*Boton carta*/
        width: 100%;
        height: auto;
    } 
    
    .carta-boton-P button{ /*Boton carta*/
        width: 100%;
        height: auto;
    }   
    
    .listaMenu{
        display: none;
    }

    .contacto-icon{
        padding-top: 5px;
    }
}