/*-----------------------------------------------------------------------*/

/*Tecnologias*/

.contenedor-t{
    width: 100%;
    min-height: 90vh;
    background-color: #101010;
    border-radius: 30px;
    margin-bottom: 14px;
    padding: 10px;
}

.seccion-T { /*acomodar el contenedor de esta parte*/
    width: 100%;
    height: auto;
    background-color: #101010;
    border-radius: 30px;
    padding: 10px;
}

.flex-padre-T{ /*acomoda las monedas*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly !important;
    flex-wrap: wrap;
    margin-top: 0px;
    padding: 24px; 
}

/*-----------------------------------------------------------------------*/

/*Monedas*/

.coin {
    width: 110px; /* Tamaño de la moneda */
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Forma circular */
    perspective: 1000px; /* Necesario para 3D */
}

.coin-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.coin-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    overflow: hidden;
    background-color: #1e1f22;
    border: 3px solid #B0B0B0; /* Borde dorado */
    box-shadow: 0 0 10px rgb(128, 128, 128); /* Sombra para profundidad */
    transform-style: preserve-3d;
}

.coin-face.front img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}

.coin-face.back {
    transform: rotateY(180deg);
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    color: #f1f1f1;
}

.coin-face.back span {
    word-wrap: break-word;
    max-width: 80%;
}

.coin-inner {
  transform-style: preserve-3d;
  animation: auto-flip 10s infinite ease-in-out;
  transition: transform 0.8s; /* para hover */
}

@keyframes auto-flip {
  /* 0–20%: quieto en 0° */
  0%, 20%   { transform: rotateY(0); }

  /* 20–40%: giro lento de 0° a 180° */
  40%       { transform: rotateY(180deg); }

  /* 40–60%: quieto en 180° */
  40%, 60%  { transform: rotateY(180deg); }

  /* 60–80%: vuelta lenta de 180° a 0° */
  80%       { transform: rotateY(0); }

  /* 80–100%: quieto en 0° */
  80%, 100% { transform: rotateY(0); }
}

/*-----------------------------------------------------------------------*/

@media (max-width: 780px) {
    .coin{
        width: 75px;;
        height: 75px;
        
    }
}