<!DOCTYPE html>
<html lang="es">
<head>                  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proyecto Sociales</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
        <link rel="stylesheet" href="../CSS/style.css"> 
        <link rel="stylesheet" href="../CSS/Navbar.css"> 
        <link rel="stylesheet" href="../CSS/document.css"> 

        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>  

    </head>
    <body>                                  
        <!--Barra de Navegacion-->
        <nav>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house"></i></a></li>           
                <li><a href="../Views/lineTime.html"><i class="fa-solid fa-clock"></i></a></li>           
                <li><a href="../Views/why.html"><i class="fa-solid fa-question"></i></a></li>
                <li><a href="../Views/alliance.html"><i class="fa-solid fa-handshake"></i></a></li>
                <li><a href="../Views/ideology.html"><i class="fa-solid fa-lightbulb"></i></a></li>
                <li><a href="../Views/map.html"><i class="fa-solid fa-map"></i></a></li>
                <li><a href="../Views/lider.html"><i class="fa-solid fa-person"></i></a></li>
                <li><a href="../Views/chart.html"><i class="fa-solid fa-chart-simple"></i></a></li>
                <li><a href="../Views/curiosity.html"><i class="fa-solid fa-brain"></i></a></li>
                <li><a href="../Views/document.html" style="color: gray;"><i class="fa-solid fa-note-sticky"></i></a></li>
            </ul>
        </nav>

        <div>
            <p>Para ver el documento completo dar click al deseado</p>
        </div>

        <!--Contenido-->
        <div class="contenedorMovil" id="contenedorMovil">
        </div>

        <br>

        <div class="contenedor" id="contenedor">

            <a href="../Imagenes/Imagen 10.jpg" target="_blank" class="boton">
                <img src="../Imagenes/Imagen 10.jpg" alt="Botón 1">
                <span>Tratado Del Atlántico Norte</span>
            </a>

            <a href="../Imagenes/Imagen 11.jpg" target="_blank" class="boton">
                <img src="../Imagenes/Imagen 11.jpg" alt="Botón 2">
                <span>Pacto De Varsovia</span>
            </a>

            <a href="../Imagenes/Imagen 12.jpg" target="_blank" class="boton">
                <img src="../Imagenes/Imagen 12.jpg" alt="Botón 3">
                <span>Acta Final De Helsinki </span>
            </a>

            <a href="../Imagenes/Imagen 13.jpg" target="_blank" class="boton">
                <img src="../Imagenes/Imagen 13.jpg" alt="Botón 4">
                <span>Tratado ABM</span>
            </a>

            <a href="../Imagenes/Imagen 14.jpg" target="_blank" class="boton">
                <img src="../Imagenes/Imagen 14.jpg" alt="Botón 5">
                <span>Saltiy I y II</span>
            </a>

            <a href="../Imagenes/Imagen 15.jpg" target="_blank" class="boton">
                <img src="../Imagenes/Imagen 15.jpg" alt="Botón 6">
                <span>Tratado INF</span>
            </a>
        </div>

        <script src="../JS/document.js"></script>

    </body>
</html>