<!DOCTYPE html>
<html lang="es">
<head>                  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proyecto Sociales</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
        <link rel="stylesheet" href="../CSS/style.css"> 
        <link rel="stylesheet" href="../CSS/Navbar.css"> 
    </head>
    <body>                                  
        <!--Barra de Navegacion-->
        <nav>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house"></i></a></li>           
                <li><a href="../Views/lineTime.html"><i class="fa-solid fa-clock"></i></a></li>           
                <li><a href="../Views/why.html"><i class="fa-solid fa-question"></i></a></li>
                <li><a href="../Views/alliance.html"><i class="fa-solid fa-handshake"></i></a></li>
                <li><a href="../Views/ideology.html"><i class="fa-solid fa-lightbulb"></i></a></li>
                <li><a href="../Views/map.html" style="color: gray;"><i class="fa-solid fa-map"></i></a></li>
                <li><a href="../Views/lider.html"><i class="fa-solid fa-person"></i></a></li>
                <li><a href="../Views/chart.html"><i class="fa-solid fa-chart-simple"></i></a></li>
                <li><a href="../Views/curiosity.html"><i class="fa-solid fa-brain"></i></a></li>
                <li><a href="../Views/document.html"><i class="fa-solid fa-note-sticky"></i></a></li>
            </ul>
        </nav>

        <!--Contenido-->
        <img src="../Imagenes/Imagen 5.jpg">
    </body>
</html>